.UserLoginContainer{
    width: 100%;
    height: 500px;
    display: flex;
    /* background-color: black; */
    align-items: center;
    text-align: center;

}
img{
    object-fit: cover;
    width: 70px;
    height: 70px;
}

#LoginForm{
    border-radius: 5px;
    margin: auto;
    width:30%;
height: 50%;
    background-color: rgb(213, 213, 213);
}



#UserLoginBtn,#UserCancelnBtn{

    margin-right: 20px;
    border-radius: 5px;
}

#UserLoginBtn:hover,#UserCancelnBtn:hover{
    
    cursor: pointer;
    background-color: rgb(58, 58, 255);
}
            