body{
    margin: 0;
    padding: 0;
    }

div{
    font-family: "Poppins", sans-serif;
}

 #PageLogo{

    background-color: black;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left:20%;


 }   

#menuContainer{
    color:#ffffff;
    background-color: rgb(56, 7, 163);
    height: 100%;
    width: 130px;
    position: fixed;
    top: 0;
   display: flex;
   flex-direction: column;
   gap: 80px;
    text-align: center;
    font-size: 1.5rem;
   
   

}

.NavMenuLinks:hover{
cursor: pointer;
background-color: aquamarine;
}
img{}
